.App {
  text-align: center;
}

.App-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 99%;
  background-color: #fff;
  border-top: 1px solid #ddd;
  padding: 0.2rem;
}
.App-nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.App-logo {
  height: 10vmin;
  pointer-events: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
